<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SELab2" connectionString="Data Source=DESKTOP-L98K43B;Initial Catalog=SElab02;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
		<add name="MyDataBase" connectionString="Data Source=DESKTOP-L98K43B;Initial Catalog=SchoolDb;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>